nav {

    padding: 4rem 0 0 2.5rem;

}




.nav {
    display: flex;
    grid-area: 1 / 1 / 9 / 3;
    border-right: 1px solid white;
    flex-direction: column;
    justify-content: space-between;

    &__logo{
        padding-right: 1rem;
        max-width: 13rem;
        margin-bottom: 3rem;
    }
    &__share{
        color: white;
        text-decoration: none;
        &::before{
            content: url(../images/share-icon.svg);
            margin-right: 0.5rem;}

    }

}

.menu { 


    &__list {
        list-style-type: none;
        padding-right: 0;
        padding-inline-start: 0;
        
        &--item{
          margin-bottom: 2rem;


          &:hover{
              font-weight: 600;
          }

          &:first-child {
           &::before{
               content: url(../images/home.svg);
               margin-right: 0.5rem;
                }
            }    
            &:nth-child(2) {
                &::before{
                    content: url(../images/clock.svg);
                    margin-right: 0.5rem;
                }
            }    

            &:nth-child(3) {
                &::before{
                    content: url(../images/boat.svg);
                    margin-right: 0.5rem;
                }    
            }    

          &:last-child {
            &::before{
                content: url(../images/calendar.svg);
                margin-right: 0.5rem;
            }
            }    
          
        }

    
    }

  
}





.logo {
    grid-area: 1 / 1 / 2 / 3;
}


.share { 
    grid-area: 8 / 1 / 9 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;


}