// ** BLURRRRRRRR **

    // backdrop-filter:
    $blur: blur(4px);
    // background:
    $blurColorBright: rgba(121, 192, 208, 0.4);
    $blurColorDark: rgba(34, 153, 180, 0.4);
    $blurColorSuperDark: rgba(9, 90, 109, 0.4);


// *** COLORS ****

$gradientHorizon: linear-gradient(178deg, rgba(138,215,233,1) 0%, rgba(197,237,246,1) 43%, rgba(83,207,221,1) 60%, rgb(29, 105, 121) 100%);


@mixin flexCenter{
    display: flex;
    align-items: center
}