nav {
  padding: 4rem 0 0 2.5rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  -ms-grid-row-span: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 9 / 3;
  border-right: 1px solid white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__logo {
  padding-right: 1rem;
  max-width: 13rem;
  margin-bottom: 3rem;
}

.nav__share {
  color: white;
  text-decoration: none;
}

.nav__share::before {
  content: url(../images/share-icon.svg);
  margin-right: 0.5rem;
}

.menu__list {
  list-style-type: none;
  padding-right: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.menu__list--item {
  margin-bottom: 2rem;
}

.menu__list--item:hover {
  font-weight: 600;
}

.menu__list--item:first-child::before {
  content: url(../images/home.svg);
  margin-right: 0.5rem;
}

.menu__list--item:nth-child(2)::before {
  content: url(../images/clock.svg);
  margin-right: 0.5rem;
}

.menu__list--item:nth-child(3)::before {
  content: url(../images/boat.svg);
  margin-right: 0.5rem;
}

.menu__list--item:last-child::before {
  content: url(../images/calendar.svg);
  margin-right: 0.5rem;
}

.logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
}

.share {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 8 / 1 / 9 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  max-height: 100vh;
}

.bold {
  font-weight: 600;
}

.large {
  font-size: 1.5rem;
}

.bg {
  background: linear-gradient(178deg, #8ad7e9 0%, #c5edf6 43%, #53cfdd 60%, #1d6979 100%);
  height: 100vh;
  width: 100vw;
}

button {
  padding: 0.8rem 1.8rem;
  min-width: 12rem;
  margin: 0 auto;
  font-weight: 500;
  font-size: 1.25rem;
  color: white;
  border: 1px solid white;
  border-radius: 60px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background: rgba(121, 192, 208, 0.4);
  font-size: 1rem;
}

button:hover {
  background: rgba(34, 153, 180, 0.4);
}

button:active {
  outline: none;
  background: rgba(9, 90, 109, 0.4);
}

button:focus {
  outline: none;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  height: 100vh;
  overflow: hidden;
}

.topnav {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 10;
  grid-area: 1 / 3 / 2 / 13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 4rem;
  position: relative;
}

.topnav__search {
  padding: 0.6rem 1.5rem;
  min-width: 10rem;
  font-weight: 500;
  font-size: 1.25rem;
  color: white;
  border: 1px solid white;
  border-radius: 60px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background: rgba(121, 192, 208, 0.4);
  font-size: 0.8rem;
  margin-right: 2.5rem;
  z-index: 10;
}

.topnav__search:focus {
  border: 1px solid rgba(255, 255, 255, 0);
  outline: none;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 2;
  -ms-grid-row-span: 6;
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-area: 2 / 3 / 8 / 8;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 2rem;
}

.hero__text--h1 {
  font-family: 'Times New Roman', Times, serif;
  line-height: 80%;
  font-weight: 400;
  font-size: 5rem;
  margin-bottom: 1rem;
}

.hero__text--h1 span {
  opacity: 60%;
}

.hero__text--p {
  font-size: 1.1rem;
}

.carousel {
  -ms-grid-row: 2;
  -ms-grid-row-span: 6;
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-area: 2 / 8 / 8 / 13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.carousel__img {
  width: 900px;
  height: auto;
  position: absolute;
  z-index: -1;
  bottom: -20%;
  right: 0%;
}

.carousel__img--shadow {
  width: 600px;
  height: 100px;
  background: rgba(25, 86, 99, 0.8);
  mix-blend-mode: multiply;
  -webkit-filter: blur(54px);
          filter: blur(54px);
  margin-top: 0;
  margin-left: 100px;
}

table.tableizer-table {
  font-size: 16px;
  font-family: Times New Roman, Times, serif;
}

.tableizer-table td {
  padding: 4px;
  margin: 3px;
}

.tableizer-table th {
  color: #FFF;
  font-weight: bold;
}

table tr:nth-child(even) {
  background: rgba(121, 192, 208, 0.4);
}

.form {
  max-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 10;
  grid-area: 8 / 3 / 9 / 13;
  font-size: 0.8rem;
  border-top: 1px solid white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__lyrics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto 2.5rem auto 2.5rem;
}

.footer p {
  padding-left: 2rem;
}
/*# sourceMappingURL=style.css.map */