@import "variables";
@import "nav";




a{
    text-decoration: none;
    color: white;
}

html{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    max-height: 100vh;
    // overflow: hidden;

}

.bold {
  font-weight: 600;
}
.large{
  font-size: 1.5rem;
}



.bg{
    background: $gradientHorizon;
    height: 100vh;
    width: 100vw;
}










button{
    padding: 0.8rem 1.8rem;
    min-width: 12rem;
    margin: 0 auto;
    font-weight: 500;
    font-size: 1.25rem;
    color: white;
    border: 1px solid white;
    border-radius: 60px;
    backdrop-filter: $blur;
    background: $blurColorBright;
    font-size: 1rem;

    &:hover{
      background: $blurColorDark;
    }
    &:active{
      outline: none;
      background: $blurColorSuperDark;
    }
    &:focus{
      outline: none;
    }

}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  height: 100vh;
  overflow: hidden;


}
  



  

  
  .topnav { 
      grid-area: 1 / 3 / 2 / 13; 
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding-top: 4rem;
      position: relative;


      
      &__search {

        padding: 0.6rem 1.5rem;
        min-width: 10rem;
        font-weight: 500;
        font-size: 1.25rem;
        color: white;
        border: 1px solid white;
        border-radius: 60px;
        backdrop-filter: $blur;
        background: $blurColorBright;
        font-size: 0.8rem;
        margin-right: 2.5rem;
        z-index: 10;

        &:focus {
          border: 1px solid rgba(255, 255, 255, 0);
          outline: none;

        }

        }

      }
    
  
  .hero {
    display: flex;
    grid-area: 2 / 3 / 8 / 8;     
    display: flex;
    flex-direction: column;
    padding-left: 2rem;


    &__text {
        
        

    
        &--h1{
            font-family: 'Times New Roman', Times, serif;
            line-height: 80%;
            font-weight: 400;
            font-size: 5rem;
            margin-bottom: 1rem;

            span{
                opacity: 60%;
            }

        }
        &--p{
            font-size: 1.1rem;


        }

    }
  }
  
  .carousel {
    grid-area: 2 / 8 / 8 / 13;
    display: flex;
    position: relative;
    

    &__img {
        width: 900px;
        height: auto;
        position: absolute;
        z-index: -1;
        bottom: -20%;
        right: 0%;

        &--shadow{
          width: 600px;
          height: 100px;
          background: rgba(25, 86, 99, 0.8);
          mix-blend-mode: multiply;
          filter: blur(54px);
          margin-top: 0;
          margin-left: 100px;
        }
    }

  }

  // table


// JAI MANQUE DE TEMPS ... :(

table.tableizer-table {
	font-size: 16px;
	font-family: Times New Roman, Times, serif;
} 
.tableizer-table td {
	padding: 4px;
	margin: 3px;
	// border: 1px solid rgb(255, 255, 255);
}
.tableizer-table th {
	color: #FFF;
	font-weight: bold;
}

table tr:nth-child(even) {
  background: $blurColorBright;
}



.form {
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}




  
  .footer { 
    grid-area: 8 / 3 / 9 / 13; 
    
      font-size: 0.8rem;  
      border-top: 1px solid white;
      justify-content: space-between;
      @include flexCenter;

      &__lyrics {
          display: flex;
          justify-content: space-between;
          margin: auto 2.5rem auto 2.5rem;
      }
        p {
            padding-left: 2rem;
        }

    }
  